<nav id="navbar" class="navbar is-spaced has-shadow" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ "/" | relative_url }}">
        <h3 class="title is-3">{{ site.title | escape }}</h3>
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="myNavbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>    
  
    <div class="navbar-menu" id="myNavbar">
      {%- assign default_paths = site.pages | map: "path" -%}
      {%- assign page_paths = site.header_pages | default: default_paths -%}
      <!-- {{ path_paths }} -->
  
      <div class="navbar-end">
        <a class="navbar-item" href="/">Home</a>
        {%- for path in page_paths -%}
          {%- assign page = site.pages | where: "path", path | first -%}
          {%- if page.title and page.autogen == nil -%}
          <a class="navbar-item" href="{{ page.url | relative_url }}">{{ page.title | escape }}</a>
          {%- endif -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</nav>
