<nav id="navbar" class="navbar is-spaced" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ "/" | relative_url }}">
          <h1 class="title is-3">{{ site.title | escape }}</h1>
        </a>
      </div>
    
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    
      <div class="navbar-menu">
        {%- assign default_paths = site.pages | map: "path" -%}
        {%- assign page_paths = site.header_pages | default: default_paths -%}
        <!-- {{ path_paths }} -->
    
        <div class="navbar-end">
          {%- for path in page_paths -%}
            {%- assign page = site.pages | where: "path", path | first -%}
            {%- if page.title and page.autogen == nil -%}
            <a class="navbar-item" href="{{ page.url | relative_url }}">{{ page.title | escape }}</a>
            {%- endif -%}
          {%- endfor -%}
        </div>
      </div>
  </div>
</nav>

<section class="hero is-info is-medium is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      
    </div>
  </div>
</section>