---
layout: default
---

{%- include hero.html -%}

<div class="container">
  <div class="columns">
    <div class="column is-10 is-offset-1">
      {%- if paginator.posts.size > 0 -%}
      <section class="articles">
        {%- for post in paginator.posts -%}
        <div class="card article">
          <div class="card-content">
            <div class="media">
              <div class="media-content has-text-centered">
                {%- assign date_format = "%b %d %Y" -%}
                <p class="subtitle article-subtitle">{{ post.date | date: date_format }}</p>
                <p class="title article-title">{{ post.title | escape }}</p>
              </div>
            </div>
            {%- if site.show_excerpts -%}
            <div class="content article-body">
              {%- if post.image -%}
              <img src="{{ post.image }}" alt="{{ post.title }}" />
              {%- endif -%}
              {{ post.excerpt }}
            </div>
            {%- endif -%}

            <p class="has-text-centered">
              <a href="{{ post.url | relative_url }}" class="button">Read More</a>
            </p>
          </div>
        </div>
        {%- endfor -%}
      </section>

      <!-- pagination -->
      <section>
        {% if paginator.total_pages > 1 %}
        <nav class="pagination" role="navigation" aria-label="pagination">
          <a class="pagination-previous"
            {% if paginator.previous_page %}
            href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"
            {% else %}
            href="#"
            disabled
            {% endif %}
            >
            Newer Posts
          </a>
          <a class="pagination-next"
            {% if paginator.next_page %}
              href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"
            {% else %}
              href="#"
              disabled
            {% endif %}
            >
              Older Posts
          </a>
        </nav>
        {% endif %}
      </section>
      {%- endif -%}
    </div>
  </div>  
</div>