---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">{{ page.title | escape }}</h1>
      </div>
    </div>
  </section>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1">{{ page.list_title | default: "Posts" }}</h1>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      {%- for post in site.posts -%}
      <div class="content">
        <h3 class="title is-3">
          <a href="{{ post.url | relative_url }}">
            {{ post.title | escape}}
          </a>
        </h3>

        {%- assign date_format = "%b %d %Y" -%}
        <h4 class="subtitle is-5 has-text-grey-light">{{ post.date | date: date_format }}</h4>

        {%- if site.show_excerpts -%}
        <p>{{ post.excerpt }}</p>
        {%- endif -%}
      </div>
      {%- endfor -%}

      <a class="button" href="{{ "/feed.xml" | relative_url }}">Subscribe</a>
    </div>
  </section>
  {%- endif -%}
</div>