---
layout: default
---

{%- include hero.html -%}

<div class="container">
  <div class="columns">
    <div class="column is-10 is-offset-1">
      <article class="post">
        <div class="card article">
          <div class="card-content">
            <div class="media">
              <div class="media-content has-text-centered">
                <p class="title article-title">{{ page.title | escape }}</p>
                {%- if page.subtitle -%}
                <p class="subtitle article-subtitle">{{ page.subtitle | escape }}</p>
                {%- endif -%}
              </div>
            </div>
            <div class="content article-body" itemprop="articleBody">
              {{ content }}
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
