---
layout: default
---

<div class="container">
  <div class="columns">
    <div class="column is-10 is-offset-1">
      <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="card article">
          <div class="card-content">
            <div class="media">
              <div class="media-content has-text-centered">
                {%- assign date_format = "%b %d %Y" -%}
                <p class="subtitle article-subtitle">{{ page.date | date: date_format }}</p>
                <p class="title article-title">{{ page.title | escape }}</p>
              </div>
            </div>
            <div class="content article-body" itemprop="articleBody">
              {{ content }}

              <div class="content tags">
                {% for tag in page.tags %}
                  {% capture tag_name %}{{ tag }}{% endcapture %}
                  <span class="tag is-light">{{ tag }}</span>
                {% endfor %}
              </div>
              <a href="{{ page.url | relative_url }}" hidden></a>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
