/*
 * Grid
 */
.grid {
  display: grid;
  grid-template-columns: [xl-start] 1fr 1.5rem [md-start] minmax(0, 1024px) [md-end] 1.5rem 1fr [xl-end];
}

.grid * {
  grid-column: md;
}
.grid-xl {
  grid-column: xl;
}

.no-horizontal-padding {
  padding-left: 0;
  padding-right: 0;
}

pre {
  text-align: left;
}

article .by-line .media-left {
  margin-left: 0;
}

article.post .hero-body h1 {
  padding-top: 1.2rem;
}