$mobile: 768px;

html, body {
  background: #F0F2F4;
}

.hero-body {
  background-image: url(../../assets/images/header1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  @media screen and (max-width: $mobile) {
    height: 300px;
  }
  @media screen and (min-width: $mobile) {
    height: 500px;
  }
}

article,
.articles {
  margin: 5rem 0;
  margin-top: -200px;
}
article.post {
  margin-top: -300px;
}
.articles .content p {
  line-height: 1.9;
  margin: 1rem 0;
}
.author-image {
  position: absolute;
  top: -30px;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  border: 3px solid #ccc;
  border-radius: 50%;
}
.media-center {
  display: block;
  margin-bottom: 1rem;
}
.media-content {
  margin-top: 3rem;
}

.article {
  margin-top: 4rem;
}
.article-title {
  font-size: 2rem;
  font-weight: lighter;
  line-height: 2;
}
.article-title a {
  color: #363636;
}
.article-subtitle {
  color: #909AA0;
  margin-bottom: 3rem;
}
.article-body {
  @media screen and (max-width: $mobile) {
    margin: 0 2px;
  }
  @media screen and (min-width: $mobile) {
    margin: 0 6rem;
  }
  line-height: 1.4;
}

pre {
  text-align: left;
}

div.highlighter-rouge + p,
pre + p {
  margin-top: 1rem;
}

article .by-line .media-left {
  margin-left: 0;
}

article.post .hero-body h1 {
  padding-top: 1.2rem;
}

ul.pagination-list li {
  list-style-type: none;
}